
h1{
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: fuchsia;
}

ol {
    padding: 0px;
    margin: 0px;
}

p {
    color: white;
}

li {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    background-color: red;
    color: white;
    margin: 0px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li:hover {
    background-color: black;
    color: red;
}

h3{
    text-align: center;

}

img {
    width: 100%;
    height: auto;
}